
    .tarjetas{
        justify-content: flex;
        justify-content: center;
        align-items: center;
    }

    .precios{
        display: flex;
        justify-content: right;
        align-items: baseline;
        gap: 10px;
    }

    .precio-original{
        color: #707070;
        font-size: 14px;
    }

    .precio-actual{
        color: #28A745;
        font-size: 28px;
    }

    .formulario{
        display: flex; 
        justify-content: center;
        color: white;
}

    .footer{
        text-align: center;
}

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500px;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
            font-size: 20px;
            color: #212529;
}

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300px;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
            font-size: 14px;
            color: #707070;
}

    i{
        color: #707070;
    }